#error {
    background-color: white;
    width: 100dvw;
    height: 100dvh;

    .errorDiv {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;

        .errorP {
            color: black;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 4.62vw;
            line-height: 5.64vw;
            text-align: center;
        }
    }
}