#orderLayout {
    width: 100dvw;
    height: 100dvh;
    background-color: white;

    .orderHeaderDiv {
        position: absolute;
        width: 100%;
        height: 7dvh;
        left: 0.00vw;
        top: 0.0vw;
        background-color: black;
        filter: drop-shadow(0.00vw 1.03vw 1.03vw rgba(0, 0, 0, 0.25));

        .orderHeaderLogo {
            position: absolute;
            height: 4.11vh;
            left: 3.08vw;
            top: 1.5vh;
        }
    }

    .orderFooterDiv {
        position: absolute;
        width: 100dvw;
        height: 21dvh;
        left: 0;
        bottom: 0;
        color: black;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0.00vw -1.03vw 2.56vw rgba(0, 0, 0, 0.25);
        border-radius: 5.13vw 5.13vw 0.00vw 0.00vw;

        .total {
            margin: 3vh;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 4.62vw;
            text-align: right;

            .totalCount {
                margin-bottom: 1dvh;
            }

        }

        .orderBtn {
            position: absolute;
            width: 77.18vw;
            height: 6.29vh;
            left: 50%;
            transform: translateX(-50%);
            background: #C1C1C1;
            display: flex;
            align-items: center;
            justify-content: center;

            .orderBtnSpan {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 4.62vw;
                color: white;
            }
        }
    }
}